body {
    /*  */
    background-image: url("img3.jpeg");
    background-repeat: no-repeat;
    background-size: 50%;
    margin-left: 30px;
}
/* a{
    margin-right: 1000px;
} */
.img{
    background-image: url("img2.jpeg");
    background-repeat: no-repeat;
    background-size: 50% 180px;  
}
ul{
    list-style-type: circle;
    margin-left: 50px;
    padding-bottom: 50px;
}
img {
    border-radius: 50%;
    padding-left: 20px;
    padding-top: 20px; 
  }
  .body {
    /* background-color:lightcyan; */
}
  footer {
    background-color: lightskyblue;
    background-size: 50% ;
    border-radius: 5px;
    margin-right: 50%;
    padding: 20px;
}