input[type=number], [type=text],select {
    width: 100px;
 
 }
 form{
     margin: 0% 30% 0% 30%;
     border: 3px skyblue solid;
     border-radius: 20px;
     background-color: skyblue;
     padding-left: 30px;
     
 }
 input{
     border: 3px rgb(202, 218, 212) solid;
     box-shadow: rgb(115, 144, 112);
 }
 .label{
     font-weight: bold;
 }
 input[type=submit]{
     background-color: lightsalmon;
     font-size: 25px;
 }
 .heading{
     margin-left: 31%;
     padding: 0%;
     background-color: rgb(255, 252, 242);
     margin-right: 56%;
     margin-bottom: 30px;
     margin-top: 20px;
 }
 div span{
     font-size: 35px;
 }
 h2{
     margin-top: -20px;
     background-color: white;
     margin-right: 50%;
     border: 0.5px gray solid;
 }
 a:link {
     color: red;
   }
   
   /* visited link */
   a:visited {
     color: red;
   }
   footer{
     margin: 0% 30% 0% 30%;
   }
  .img{
      width: 20px;
      height: 20px;
      vertical-align: middle;
  }