input[type=number], [type=text],select {
    width: 100px;
 
 }
 form{
     margin: 0% 70% 0% 0%;
     border: 3px skyblue solid;
     border-radius: 20px;
     background-color: rgb(205, 235, 135);
     padding-left: 30px;
     width: 500px;
     padding-bottom: 5%;
     
 }
 input{
     border: 3px rgb(202, 218, 212) solid;
     box-shadow: rgb(115, 144, 112);
 }
 .label{
     font-weight: bold;
     width: 600px;
 }
 input[type=submit]{
     background-color:peachpuff;
     font-size: 25px;
 }
 .heading{
     margin-left: 0;
     padding: 0%;
     background-color:white;
     margin-right: 56%;
     margin-bottom: 30px;
     margin-top: 20px;
 }
 div span{
     font-size: 35px;
 }
 h2{
     margin-top: -20px;
     background-color:peru;
     margin-right: 50%;
     border: 0.5px gray solid;
     width: 300px;
     padding-bottom: 20px;
     margin-top: 1%;
 }
 a:link {
     color: red;
   }
   
   /* visited link */
   a:visited {
     color: red;
   }
   footer{
     margin: 0% 70% 0% 0%;
     padding-top: 2%;
   }
  .img{
      width: 20px;
      height: 20px;
      vertical-align: middle;
  }