body{
    background-image: url("movieIMG/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}
.image_banner{
    background-image: url("movieIMG/bannerbg.png");
    background-repeat: repeat-x;
    text-align: center;
}
.heading{
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 3px 3px #999999;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
.title{
    background-image: url("movieIMG/rbg.png");
    background-repeat: repeat-x;
    font-size: 48pt;
    color: red;
    vertical-align: middle;
    font-weight: bold;  
    display: inline-block;
    width: 56.5%;
    margin-top: 0%;
    margin-bottom: 0%;
}
img{
    vertical-align: middle;
}
.content{
    border-radius: 20px;
    width: 800px;
    margin: auto;
    border: 4px gray solid; 
}
.overview{
    columns: 2;
    column-gap: 3%;
    margin-right: 47%;
    margin-top: 20px;
    margin-left: 10px;
    
}
.review{
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 8px;  
    
}
.comment{
    vertical-align: middle;
   display: inline-block;
     
}
.comments{
    margin-bottom: 20pt; 
    margin-top: 10px;
    font-style: italic;
}
.desc{
    float: right;
    background-color: #A2B964;
    width: 250px;
}
.def{
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: Arial,sans-serif;
    font-size: 8pt;
}
.def dt{
    font-size: 10pt;
    font-weight: bold;
    padding-top: 10px;
}
.bar{
    text-align: center;
    background-color: #A2B964;
    padding: 5px;
}
.w3{
 float: right;
 opacity: 50%;
 position: fixed;
 bottom: 0;
  right: 0;
}