body{
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}
header{
    font: 32pt bold;
    text-align:center;
    margin: 0%;
}
textarea{
    text-align: center;
    width: 90%;
    height: 600px;
    font: 12pt bold;
    font-family: monospace;
    margin:0% 50px 0% 50px;
}
fieldset{
    border: 5px black solid;
    display: inline;
}
button{
    width: 47%;
}
select{
    width:100%;
}
.w3{
    right:0px;
    bottom: 20px;
    right: 5px;
    position: fixed;
}